body{
    margin:0;
    padding:0;
    width:100%;
    min-height:100vh;
    background:url(../images/zoo.jpg)top center no-repeat;
    background-size:cover;
}
header{
    position:fixed;
    height:70px;
    width:100vw;
    top:0;
    left:0;
    background:rgba(0,0,0, 0.3);
}
h1{
    position:fixed;
    width:100%;
    font-family:Helvetica, sans-serif;
    color:white;
    text-align:center;
}
.retour{
    position:fixed;
    height:40px;
    width:130px;
    top:5px;
    left:5px;
    border:1px solid white;
    border-radius:5px;
    text-align:center;
    z-index:10;
}
.retour a{
    display:block;
    height:40px;
    width:130px;
    color:white;
    text-decoration:none;
    line-height:40px;
    border-radius:5px;
}
.retour a:hover{
    background:rgba(0,0,0,0.3); 
}
.content{
    position:relative;
    width:70vw;
    left:15vw;
    top:100px;
    display:flex;
    justify-content:center;
    background:rgba(0,0,0, 0.3);
    border-radius:5px;
}
h3{
    margin:0;
    padding:0;
}
form{
    font-family:Helvetica, sans-serif;
    color:white;
    margin:50px 50px;
}
input[type="text"]{
    background:none;
    border:1px solid white;
    color:white;
}
input[type="number"]{
    background:none;
    border:1px solid white;
    color:white;
}
::placeholder{
    color:white;
    opacity:1;
}
